{{yield}}
<div id="home-icon-container"><img src="assets/icons/home.png" alt="home-icon" height="60px"> <br><br></div>
<div id="explore-icon-container"><img src="assets/icons/explore.png" alt="explore-icon" height="60px"> <br><br></div>
<div id="history-icon-container"><img src="assets/icons/history.png" alt="history-icon" height="60px">  <br><br></div>