{{page-title "Youtube"}}

<div>

  <div class="top-navbar">

    <TopNavbar/>
  </div>

  <div class="side-navbar">

   <SideNavbar/>

  </div>

  <div class="content">

    {{outlet}}

  </div>

</div>
